{% extends "admin/app_index.html" %}
{% load i18n %}

{# Add a custom section above or below the model list #}
{% block content_title %}
    {{ block.super }}

{% endblock %}

{# Or add it to the sidebar if you prefer #}
{# {% block sidebar %}
    {{ block.super }}
    <div style="margin-top: 15px;">
        <h2>{% translate 'Reporting & Export' %}</h2>
        <a href="{% url 'collector:finding-report' %}" class="button">{% translate 'Findings Report' %}</a>
        <a href="{% url 'export-all-zip' %}" class="button">{% translate 'Export All Files (Zip)' %}</a>
        <a href="{% url 'download-db' %}" class="button" style="margin-left: 10px;">{% translate 'Download DB (SQLite)' %}</a>
    </div>
{% endblock %} #}