{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="57x57" href="/media/favico/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/media/favico/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/media/favico/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/media/favico/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/media/favico/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/media/favico/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/media/favico/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/media/favico/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/media/favico/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/media/favico/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/media/favico/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/media/favico/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/media/favico/favicon-16x16.png">
	<link rel="manifest" href="/media/favico/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/media/favico/ms-icon-144x144.png">
	<link rel="shortcut icon" type="image/png" href="/media/favico/favicon-16x16.png"
	<meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" type="text/css" href="{% static 'edc/main.css' %}">

	{% if title %}
    	<title>{{ title }}</title>
    {% else %}
        <title>EDC</title>
    {% endif %}
</head>
<body>
	<header class="site-header">
	  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
	    <div class="container">
	      <a class="navbar-brand mr-4" href="{% url 'edc-info' %}">Event Data Collector</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarToggle">
	        <div class="navbar-nav mr-auto">
	          <a class="nav-item nav-link" href="{% url 'edc-info' %}">Info</a>
	          <a class="nav-item nav-link" href="{% url 'edc-oplogs' %}">Oplog</a>
	          <a class="nav-item nav-link" href="{% url 'edc-targets' %}">Targets</a>
	          <a class="nav-item nav-link" href="{% url 'edc-creds' %}">Credentials</a>
                  <a class="nav-item nav-link" href="{% url 'edc-payloads' %}">Payloads</a>
	          <a class="nav-item nav-link" href="{% url 'edc-decon' %}">Deconfliction</a>
	        </div>
	        <!-- Navbar Right Side -->
	        <div class="navbar-nav">
	        	{% if user.is_authenticated %}
	        	    <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
	        	    <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
	        	{% else %}
	        	    <a class="nav-item nav-link" href="{% url 'two_factor:login' %}">Login</a>
	                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
	            {% endif %}
	        </div>
	      </div>
	    </div>
	  </nav>
	</header>
	<main role="main" class="container">
	  <div class="row">
	    <div class="col-md-8">
	      {% if messages %}
	          {% for messages in messages %}
	              <div class="alert alert-{{ message.tags }}">
	              	{{ message }}
	              </div>
	          {% endfor %}
	      {% endif %}
	      {% block content %}{% endblock %}
	    </div>
	  </div>
	</main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</body>
</html>
