{% extends "edc/base2.html" %}

{% block content %}
 <h1>Credentials List ({{ page_obj.paginator.count }})</h1>
 <a class="btn btn-secondary btn-sm ml-4 mr-4 mt-1 mb-1" href="{% url 'cred-create' %}">New Cred</a><a class="btn btn-secondary btn-sm ml-4 mr-4 mt-1 mb-1" href="{% url 'credexport' %}">Export</a>
 <div class="row justify-content-center">
 <div class="col-auto">	
		 <table class="table table.responsive table.striped table-bordered table-hover">
		 	<thead>
			 	<tr>
			 		<th>Entry</th>
			 		<th>Username</th>
			 		<th>Password</th>
			 		<th>Hash</th>
			 		<th>Token</th>
			 		<th>Token File</th>
			 		<th>Role</th>
			 	</tr>
		 	</thead>
 {% for creddata in creddata %}
 			<tbody id = "table1">
			 	<tr>
				    <td><a href="{% url 'cred-detail' creddata.id %}">Detail</a></td>
				    <td>{{ creddata.username }}</td>
				    <td>{{ creddata.passw }}</td>
				    <td>{{ creddata.hashw }}</td>
				    <td>{{ creddata.token }}</td>
				    {% if creddata.tknfile %}
				    <td><a href="{{ creddata.tknfile.url }}">{{ creddata.tknfile }}</a></td>
				    {% else %}
				    <td>{{ creddata.tknfile}}</td>
				    {% endif %}
				    <td>{{ creddata.role }}</a></td>
				</tr>
			</tbody>
 {% endfor %}
		  </table>
		</div>
	</div>
 {% if is_paginated %}
 	{% if page_obj.has_previous %}
 		<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
 		<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
 	{% endif %}

 	{% for num in page_obj.paginator.page_range %}
 		{% if page_obj.number == num %}
 			<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
 		{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
 			<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
 		{% endif %}
 	{% endfor %}

 	 {% if page_obj.has_next %}
 		<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
 		<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
 	{% endif %}

 {% endif %}
{% endblock content %}