{% extends "edc/base2.html" %}

{% block content %}
<h1>Event Data Collector</h1>
	<article class="media content-section">
	  <div class="media-body">
	    <div class="article-metadata">
	      <h2 class="article-title">{{ object.dates }}</h2>
	      <a class="btn btn-secondary btn-sm ml-4 mt-1 mb-1" href="{% url 'eventinfo-update' object.id %}">Update</a>
	    </div>
	    <p class="article-content">POCs:<br />{{ object.poc }}</p>
	    <p class="article-content">Authrorized Range:<br />{{ object.auth }}</p>
	    <p class="article-content"> Restrictions:<br />{{ object.atuh }}</p>
	    <p class="article-content">Notes:<br />{{ object.notes}}</p>
 
 {% if is_paginated %}
 	{% if page_obj.has_previous %}
 		<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
 		<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
 	{% endif %}

 	{% for num in page_obj.paginator.page_range %}
 		{% if page_obj.number == num %}
 			<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
 		{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
 			<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
 		{% endif %}
 	{% endfor %}

 	 {% if page_obj.has_next %}
 		<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
 		<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
 	{% endif %}

 {% endif %}
{% endblock content %}