{% extends "edc/base.html" %}

{% block content %}
 <h1>Event Data Collector</h1>

 {% for evtinfo in evtinfo %}

<article class="media content-section">
	  <div class="media-body">
	    <div class="article-metadata">
	      <h2 class="article-title">Dates</h2>
	      <p class="article-content">{{ evtinfo.dates }}</p>
	  </div>
	</div>
</article>

<article class="media content-section">
	  <div class="media-body">
	    <div class="article-metadata">
	      <h2 class="article-title">POCs</h2>
	      <p class="article-content">{{ evtinfo.poc }}</p>
	  </div>
	</div>
</article>

<article class="media content-section">
	  <div class="media-body">
	    <div class="article-metadata">
	      <h2 class="article-title">Authorized</h2>
	      <p class="article-content">{{ evtinfo.auth }}</p>
	  </div>
	</div>
</article>

<article class="media content-section">
	  <div class="media-body">
	    <div class="article-metadata">
	      <h2 class="article-title">Unauthorized</h2>
	      <p class="article-content">{{ evtinfo.unatuh }}</p>
	  </div>
	</div>
</article>

<article class="media content-section">
	  <div class="media-body">
	    <div class="article-metadata">
	      <h2 class="article-title">Notes</h2>
	      <p class="article-content">{{ evtinfo.notes }}</p>
	  </div>
	</div>
</article>

 {% endfor %}


 {% if is_paginated %}
 	{% if page_obj.has_previous %}
 		<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
 		<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
 	{% endif %}

 	{% for num in page_obj.paginator.page_range %}
 		{% if page_obj.number == num %}
 			<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
 		{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
 			<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
 		{% endif %}
 	{% endfor %}

 	 {% if page_obj.has_next %}
 		<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
 		<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
 	{% endif %}

 {% endif %}
 <a class="btn btn-secondary btn-sm ml-34 mr-5 mt-1 mb-1" href="{% url 'eventinfo-update' 1 %}">Update Entry</a><a class="btn btn-secondary btn-sm ml-34 mt-1 mb-1" href="{% url 'eventinfo-create' %}">Add Entry</a>	
{% endblock content %}