{% extends "edc/base.html" %}

{% block content %}
 <h1>Operator Logs ({{ page_obj.paginator.count }})</h1> <a class="btn btn-secondary btn-sm ml-4 mt-1 mb-1" href="{% url 'oplog-create' %}">New Log</a>
 {% for opdata in opdata %}
	<article class="table content-section">
	  <div class="media-body">
	    <div class="article-metadata">
	      <a class="mr-2" href="#">{{ opdata.dst_ip }}</a>
	      <small class="text-muted">{{ opdata.dst_port }}</small>
	    </div>
	    <h2><a class="article-title" href="{% url 'oplog-detail' opdata.id %}">{{ opdata.dst_host }}</a></h2>
	    <p class="article-content">Start: {{ opdata.start_time|date:"Ymd_Hms" }}</p>
	    <p class="article-content"> SRC Host: {{ opdata.src_host }}</p>
	    <p class="article-content">SRC IP: {{ opdata.src_ip }}</p>
	    <p class="article-content">Tool: {{ opdata.tool }}</p>
	    <p class="article-content">Description: {{ opdata.description }}</p>
	    <p class="article-content">Result: {{ opdata.result }}</p>
	    <a class="mr-2" href="{% url 'operator-oplogs' opdata.operator.username %}">{{ opdata.operator }}</a>
	  </div>
	</article>
     {{ oplog.srchost }}
 {% endfor %}
 {% if is_paginated %}
 	{% if page_obj.has_previous %}
 		<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
 		<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
 	{% endif %}

 	{% for num in page_obj.paginator.page_range %}
 		{% if page_obj.number == num %}
 			<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
 		{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
 			<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
 		{% endif %}
 	{% endfor %}

 	 {% if page_obj.has_next %}
 		<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
 		<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
 	{% endif %}

 {% endif %}
{% endblock content %}