{% extends "edc/base2.html" %}

{% block content %}
	<h1>Payload Info</h1>
	<article class="media content-section">
	  <div class="media-body">
	    <div class="article-metadata">
	      <h2 class="article-title">{{ object.inf }}</h2>
	      <small class="text-muted">{{ object.url }}</small>
	      <small class="text-muted">{{ object.ip }}</small>
	      <a class="btn btn-secondary btn-sm ml-4 mt-1 mb-1" href="{% url 'payloadinfo-update' object.id %}">Update</a>
	      <a class="btn btn-danger btn-sm ml-4 mt-1 mb-1" href="{% url 'payloadinfo-delete' object.id %}">Delete</a>
	    </div>
	    <p class="article-content">Protocol: {{ object.proto }}</p>
	    <p class="article-content">Usage: {{ object.usage }}</p>
	    <p class="article-content">Payload: {{ object.payld }}</p>
	    {% if object.payldfile %}
	    <p class="article-content">Payload File: <a href="{{ object.payldfile.url }}">{{ object.payldfile }}</a></p>
	    {% else %}
	    <p class="article-content">Payload File: {{ object.payldfile }}</p>
	    {% endif %}
	    
	  </div>
	</article>
{% endblock content %}
