{% extends "edc/base2.html" %}

{% block content %}
 <h1>Target List ({{ page_obj.paginator.count }})</h1>
 <a class="btn btn-secondary btn-sm ml-4 mt-1 mb-1" href="{% url 'target-create' %}">New Target</a>	<a class="btn btn-secondary btn-sm ml-4 mt-1 mb-1" href="{% url 'targetexport' %}">Export</a>
		 <table class="table table.striped table table-bordered table-hover">
		 	<thead>
			 	<tr class="fixed">
			 		<th>Entry</th>
			 		<th>Host</th>
			 		<th>IP</th>
			 		<th>Network</th>
			 		<th>Users</th>
			 		<th>Description</th>
			 		<th>Comments</th>
			 	</tr>
		 	</thead>
 {% for targetdata in targetdata %}
 			<tbody id = "table1">
			 	<tr>
				    <td><a href="{% url 'target-detail' targetdata.id %}">Detail</td>
				    <td>{{ targetdata.host }}</td>
				    <td>{{ targetdata.ip }}</td>
				    <td>{{ targetdata.network }}</td>
				    <td>{{ targetdata.users }}</td>
				    <td>{{ targetdata.description }}</a></td>
				    <td>{{ targetdata.comments }}</td>
				</tr>
			</tbody>
 {% endfor %}
		  </table>
 {% if is_paginated %}
 	{% if page_obj.has_previous %}
 		<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
 		<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
 	{% endif %}

 	{% for num in page_obj.paginator.page_range %}
 		{% if page_obj.number == num %}
 			<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
 		{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
 			<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
 		{% endif %}
 	{% endfor %}

 	 {% if page_obj.has_next %}
 		<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
 		<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
 	{% endif %}

 {% endif %}
{% endblock content %}